<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>

    <div class="text-muted text-end">
        Додатковий текст
    </div>

    <hr>

    <button class="btn btn-primary">Text button</button>
    <button class="btn btn-secondary">Text button</button>
    <button class="btn btn-success">Text button</button>
    <button class="btn btn-danger">Text button</button>
    <button class="btn btn-warning">Text button</button>
    <button class="btn btn-info">Text button</button>
    <button class="btn btn-light">Text button</button>
    <button class="btn btn-dark">Text button</button>

    <button class="btn btn-link">Text button</button>


    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            <div class="text-primary">My text</div>
            <div class="text-secondary">My text</div>
            <div class="text-muted">My text</div>
        </div>
    </div>

    <br>
    <br>

    <button class="btn btn-secondary">Додати</button>
    <button class="btn btn-outline-secondary">Редагувати</button>
    <button class="btn btn-outline-danger">Видалити</button>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            This is content...
        </div>
    </div>

</main>