<main class="g-5">
    <div class="row">

        <div class="col-12 mb-3">
            <div style="background: linear-gradient(180deg, rgba(109,199,169,1) 0%, rgba(182,227,212,1) 100%);">

                <div class="mt-0 m-3">
                    <h3>Список сторінок</h3>
                </div>

                <div class="m-3">
                    <p>Мої проєкти які були створені на практиці з вивчення <br> технології Handlebars, та
                        бібліотеки
                        Bootstrap.
                    </p>
                </div>
            </div>
        </div>



        <div class="row" style="background: ;">
            <div class="col-4 my-5">
                <div class="card" style="background: #98d7c2;">
                    <div class="card-body">

                        <div>
                            <a href="/summary" class="btn btn-primary col-12 my-2">Summary</a>
                        </div>

                        <div>
                            <a href="/education" class="btn btn-primary col-12 my-2">Education</a>
                        </div>

                        <div>
                            <a href="/work" class="btn btn-primary col-12 my-2">Work</a>
                        </div>

                        <div>
                            <a href="/person" class="btn btn-primary col-12 my-2">Person</a>
                        </div>

                        <div>
                            <a href="/program" class="btn btn-primary col-12 my-2">Program</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-4 my-5">
                <div class="card" style="background: #98d7c2;">
                    <div class="card-body">

                        <div>
                            <a href="/js" class="btn btn-primary col-12 my-2">Js</a>
                        </div>

                        <div>
                            <a href="/task21" class="btn btn-primary col-12 my-2">Bootstrap 21</a>
                        </div>

                        <div>
                            <a href="/task22" class="btn btn-primary col-12 my-2">Bootstrap 22</a>
                        </div>

                        <div>
                            <a href="/task31" class="btn btn-primary col-12 my-2">Bootstrap 31</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-4 my-5">
                <div class="card" style="background: #98d7c2;">
                    <div class="card-body">

                        <div>
                            <a href="/shophome" class="btn btn-primary col-12 my-2">Shop Home</a>
                        </div>

                        <div>
                            <a href="/shoporder" class="btn btn-primary col-12 my-2">Shop Order</a>
                        </div>

                        <div>
                            <a href="/shopcart" class="btn btn-primary col-12 my-2">Shop Cart</a>
                        </div>

                        <div>
                            <a href="/shopprofile" class="btn btn-primary col-12 my-2">Shop Profile</a>
                        </div>

                        <div>
                            <a href="/shopreview" class="btn btn-primary col-12 my-2">Shop Review</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</main>