<main>
    <div class="card" style="background: #6dc7a9;">
        <div class="card-body">
            <div class="row col-12">
                <h5 class="col-6 mt-1"> Кунай Владислав </h5>

                <h6 class="col-6 text-end mt-1">Resume project</h6>
            </div>
        </div>
    </div>
</main>